div{
    background-color: aquamarine;
    border: 0.5px solid black;
    height:100px;
    width: 100px;
    margin-left: 20px;
    margin-top: 50px;
    position: absolute;
    
    animation: identifier 0.5s ease-in 3s infinite alternate;
    
}

@keyframes identifier {
    0% {left: 0px;
        background-color: yellow;
    }
    50%{background-color: blue;}
   100% {left: 200px;background-color: red;}
    
}